.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginationLink {
  padding: 8px 16px;
  text-decoration: none;
}

.paginationLink:active {
  background-color: #4caf50;
  color: white;
}

.paginationLink:hover {
  background-color: #ddd;
  color: #000;
}
