.wrapperDetail {
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 50%;
}

.details {
    /* border: 1px dashed blue; */
    width: 70%;
    text-align: left;
}