.loginWrapper {
    margin: 20px auto 50px;
    width: 400px;
}

.noAccount {
    margin: 50px;
}

.header {
    margin: 50px;
}

.link {
    color: black;
    font-weight: 700;
    text-decoration: underline;
}

.link:hover {
    color: grey;
    font-weight: 700;
    text-decoration: underline;
}