@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.newsletterDiv {
    background-color: rgb(36, 35, 35);
    padding: 50px;
}

.newsletterHeader {
    color: white;
}

.emailInput {
    margin: 0px auto;
    width: 500px;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 70px;
    width: 300px;
}

.copyright {
    padding: 20px;
}

.footerLink {
    color: black;
    font-weight: 600;
    padding: 10px;
}

.footerLink:hover {
    color: grey;
    font-weight: 600;
    padding: 10px;
}

