@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.showcase {
    align-items: center;
    /* background-color: ; */
    background-image: url('../assets/flowers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.showcaseHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0px;
    color: white;
    font-size: 30px;
}

.showcaseHeader2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 100px;
}

.showcaseSubHeader {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 35px;
}