.wrapper {
    width: 900px;
    margin: 50px auto 75px;
}

.contactWrapper {
    margin: 25px 20px;
}

.contact {
    margin: 25px;
}

.form {
    padding: 0px 50px;
}

.textarea {
    height: 100px;
    resize: none;
}