.wrapper {
    background-color: #777474;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.innerWrapper {
    display: flex;
    justify-content: space-around;
    margin: 75px auto 20px;
    width: 80%;
    
}

.box {
    width: 25%;
}

.text {
    font-size: 18px;
}